{% extends "layout.njk" %}

{% block header %}
<link rel="stylesheet" href="stylesAbout.css">
<title>Sobre</title>
{% endblock %}

{% block content %}

<div class="aboutImg">
    <img src="../assets/logo.jpg" alt="">

</div>

<div class="description">
    <h1>Descubra o caminho para dominar a OmniStack.</h1>
    <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
    <p>Cursos 100% online e gratuitos para você entrar com o pé direito nas tecnologias mais desejadas do mercado.
        Descubra o caminho para dominar a OmniStack.
        As mesmas tecnologias utilizadas por empresas como:
        Nubank, Netflix, Uber, Instagram e Airbnb
        Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações
        de alta performance e se destacando entre os maiores programadores.</p>
</div>

<div class="languages">
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
</div>
<div class="socialMedia">
    <a href="">Github</a>
    <a href="">Instagram</a>
    <a href="">Twitter</a>
</div>

{% endblock %}

 



