{% extends "layout.njk" %}

{% block header %}
<link rel="stylesheet" href="styles.css">
<title>Rocketseat</title>
{% endblock %}
 
{% block content %}

<div id="indexImg">
    <img src="./assets/rocketseat.png" alt="">
</div>


{% endblock %}
