{% extends "layout.njk" %}

{% block header %}
<link rel="stylesheet" href="styles.css">
<title>Rocketseat</title>
{% endblock %}
 
{% block content %}

<div id="img404">
    <img src="https://image.freepik.com/vetores-gratis/glitch-error-404-page_23-2148075111.jpg" alt="">
</div>
{% endblock %}
